<!doctype html>
<html>
  <head>
    <title>React Isomorphic</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.foundation5.zurb.com/foundation.css">
    <link rel="stylesheet" type="text/css" href="css/simulation.css">
    <link rel="stylesheet" type="text/css" href="css/solarized.light.css">
  </head>
  <body>
    <div id="react-main-mount">
    </div>

  <!-- comment out main.js to see ONLY server side rendering -->
  <script src="js/build.js"></script>
  </body>
</html>